html {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

div {
  width: 50%;
  border: 5px white;
  margin-top: 8%;
  margin-left: 25%;
}

img {
  width: 100%;
  border: 5px white solid;
}
